<form class="form-wrapper" [formGroup]="updateUserInfoForm">
  <div class="input-block">
    <label>Name</label>
    <input style="display: block;" type="text" formControlName='name' [(ngModel)]="userrInfo.name">
  </div>
  <div class="input-block">
    <label>Surname</label>
    <input style="display: block;" type="text" formControlName='surname' [(ngModel)]="userrInfo.surname">
  </div>
  <div class="input-block">
    <label>Patronymic</label>
    <input style="display: block;" type="text" formControlName='patronymic' [(ngModel)]="userrInfo.patronymic">
  </div>
  <div class="input-block">
    <label>Tel number</label>
    <input style="display: block;" type="text" formControlName='telNumber'
      placeholder="+380 XX XXX XX XX or +380-XX-XXX-XX-XX" [(ngModel)]="userrInfo.telephoneNumber">
    <div *ngIf="updatePhoneNumber.invalid && (updatePhoneNumber.dirty || updatePhoneNumber.touched)"
      style="font-size: small;">
      Wrong telephone format
    </div>
  </div>
  <div class="input-block">
    <label>Date of birth</label>
    <input style="display: block;" type="datetime-local" placeholder="dd-mm-yyyy" formControlName='dob'
      [(ngModel)]="userrInfo.dob">
  </div>
  <div class="form-btn-wrapper">
    <button class="form-btn" style="background-color: green;" (click)="updateUserInfo()">Save</button>
    <button class="form-btn" style="background-color: red;" (click)="cancelUpdating()">Cancel</button>
  </div>
  <button class="form-btn" style="margin-top: 30px; width: 200px; background-color: rgb(255, 153, 0);" (click)="logoutUser()">Logout</button>
</form>