<div style="width: 100%; height: 100%;">
  <div class="topnav">
    <div *ngIf="reponsibleBuilding || isAdmin" routerLinkActive="active" routerLink={{buildingLink}} i18n="building_s">Building(s)</div>
    <div *ngIf="isAdmin" routerLinkActive="active" (click)="addIotToDb()" i18n="add_iot">Add IoT</div>
    <div *ngIf="reponsibleBuilding" i18n="add_resp_user" (click)="addResponsibleUserToBuilding()">Add responsible user</div>
    <div *ngIf="isAdmin" i18n="admin panel label" routerLinkActive="active" routerLink="adminPanel">Admin panel</div>
    <div class="logo" style="margin: 0 auto;">FireSaver</div>
    <div (click)="changeToEnglish()" i18n="EngLable|language change">Eng</div>
    <div (click)="changeToUkraine()" i18n="UkrLable|language change">Uk</div>
    <div *ngIf="!isGuest" routerLink='/main/account' routerLinkActive="active"
      style="float: right; margin-right: 100px;" i18n="user data">Account</div>
  </div>
  <div style="position: relative;">
    <router-outlet></router-outlet>
  </div>
</div>