<div style="width: 100%; height: 100%;">
  <div class="topnav">
    <div *ngIf="reponsibleBuilding || isAdmin" routerLinkActive="active" routerLink={{buildingLink}}>Building(s)</div>
    <div *ngIf="isAdmin" routerLinkActive="active">Add IoT</div>
    <div *ngIf="reponsibleBuilding">Add responsible user</div>
    <div class="logo" style="margin: 0 auto;">FireSaver</div>
    <div *ngIf="!isGuest" routerLink='/main/account' routerLinkActive="active"
      style="float: right; margin-right: 100px;">Account</div>
  </div>
  <router-outlet></router-outlet>
</div>