################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FireSaverMobile/FireSaverMobile/FireSaverMobile/Helpers/APIKeyStorage.cs
