<form [formGroup]="buildingForm">
  <div *ngIf="id">Building with id: {{id}}</div>
  <div>
    <div i18n="buidling address">Address</div>
    <textarea [value]="data?.address" style="resize: none; width: 200px; height: 100px;"
      formControlName="address"></textarea>
    <div *ngIf="formAddress.invalid && (formAddress.touched || formAddress.dirty)" i18n="buidling address empty">
      Fill in this field
    </div>
  </div>
  <div>
    <div i18n="buidling info">Info</div>
    <textarea type="text" [value]="data?.info" style="resize: none; width: 200px; height: 100px;"
      formControlName="info"></textarea>
    <div *ngIf="formInfo.invalid && (formInfo.touched || formInfo.dirty)" i18n="buidling info empty">
      Fill in this field
    </div>
  </div>
  <div>
    <select class="custom-select mb-3" formControlName="regionName">
      <option value="">Choose Region</option>
      <option *ngFor="let region of Regions" [ngValue]="region">
        {{ region }}
      </option>
    </select>
  </div>
  <button style="float: right;" (click)="CloseAndChange()" [disabled]="getForm.invalid" i18n="@@submitBtn">Add</button>
  <button style="float: right; margin-right: 10px;" (click)="Close()" i18n="@@cancelBtn">Cancel</button>
</form>