<form [formGroup]="addResponsibleUserForm">
  <div class="form-group" style="margin-bottom: 20px;">
    <label>Email address</label>
    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"
      formControlName="mail">
    <div *ngIf="formMail.invalid">
      <small style="color: red !important;" *ngIf="formMail.errors?.email && (formMail.touched || formMail.dirty)"
        id="emailHelp" class="form-text">Enter valid mail format
      </small>
      <small style="color: red !important;"
        *ngIf="formMail.errors?.canBeResponsible && (formMail.touched || formMail.dirty)" id="emailHelp"
        class="form-text">This user is already responsible
      </small>
    </div>
  </div>
  <button type="button" class="btn btn-primary" [disabled]="validatingForm.invalid" (click)="submitForm()">Add</button>
  <button type="button" class="btn btn-danger" (click)="closeForm()">Cancel</button>
</form>