<div style="width: 100%; height: 600px; overflow-y: scroll;">
  <div class="input-group mb-3 centered-div" style="width: 400px;">
    <input type="text" class="form-control" #dat (input)="onSearchInput(dat.value)" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
    </div>
  </div>
  <mat-paginator style="width: 600px; margin: 0 auto; padding-top: 10px; color: black; background-color: white; "
    [length]="totalItems" [pageIndex]="currentPage - 1" [pageSize]="10" (page)="pageChanged($event)">
  </mat-paginator>
  <div class="building-info-wrapper" *ngFor="let item of allBuildingInfo">
    <div class="building-info">
      <div style="width: 50%; align-self: center;">
        <div>
          Id: {{item.id}}
        </div>
        <div>Address:
          <div>{{item.address}}</div>
        </div>
        <div>Info:
          <div>{{item.info}}</div>
        </div>
      </div>
      <div class="btn-section">
        <button (click)="editBuilding(item)" class="btn btn-warning">Edit</button>
        <button (click)="deleteBuilding(item.id)" class="btn btn-danger">Delete</button>
        <button (click)="goToBuildingPage(item.id)" class="btn btn-info">View</button>
      </div>
    </div>
  </div>
</div>
<button class="add-btn btn btn-success" (click)="addNewBuilding()">Add</button>