<div style="width: 100%; height: 600px; overflow-y: scroll;">
  <div class="input-group mb-3 centered-div" style="width: 400px;">
    <input type="text" class="form-control" #dat (input)="onSearchInput(dat.value)" i18n i18n-placeholder="user mail to serach" placeholder="mail"
      aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="button-addon2"
        i18n="search btn|buildings component">Search</button>
    </div>
  </div>
  <mat-paginator style="width: 600px; margin: 0 auto; padding-top: 10px; color: black; background-color: white; "
    [length]="totalItems" [pageIndex]="currentPage - 1" [pageSize]="10" (page)="pageChanged($event)">
  </mat-paginator>
  <div class="building-info-wrapper" *ngFor="let item of allBuildingInfo">
    <div class="building-info">
      <div style="width: 50%; align-self: center;">
        <div i18n="building id">
          Id: {{item.id}}
        </div>
        <div i18n="building address@@buildingAddress">Address:
          <div>{{item.address}}</div>
        </div>
        <div i18n="building info@@buildingInfo">Info:
          <div>{{item.info}}</div>
        </div>
      </div>
      <div class="btn-section">
        <button (click)="editBuilding(item)" class="btn btn-warning" i18n="@@editBtn">Edit</button>
        <button (click)="deleteBuilding(item.id)" class="btn btn-danger" i18n="@@deletebtn">Delete</button>
        <button (click)="goToBuildingPage(item.id)" class="btn btn-info" i18n="@@viewbtn">View</button>
      </div>
    </div>
  </div>
</div>
<button class="add-btn btn btn-success" (click)="addNewBuilding()" i18n="add building">Add</button>