<div id="myMap"></div>
<div>
    selected image coords: {{postion?.latitude}} {{postion?.longtitude}}
</div>
<!-- <div>
    selected route point: Latitude - {{selectedRoutePoint?.getLatLng().lat}};
    Longtitude - {{selectedRoutePoint?.getLatLng().lng}}
</div> -->
<button (click)="removePlacedMarkers()">Remove calculated markers</button>
<button (click)="getRouteBtnClick()">Get route</button>
<button (click)="deleteRouteBtnClick()">Delete route</button>
<button (click)="deleteSelectedRoutePoint()">Delete route point</button>
<button (click)="placeRoutePointBtnClick()">Set route point</button>
