<form [formGroup]="positionForm">
  <div class="form-group" style="margin-bottom: 20px;">
    <label i18n="Latitude">Latitude</label>
    <input type="text" class="form-control" aria-describedby="latitude" i18n i18n-placeholder="Latitude placeholder" placeholder="Enter latitude"
      formControlName="latitude">
    <div style="color: red;" *ngIf="formLatitude.invalid && (formLatitude.touched || formLatitude.dirty)">
      <small i18n="latitude empty" *ngIf="formLatitude.errors?.required">This field is required</small>
    </div>
    <label i18n="Longtitude">Longtitude</label>
    <input type="text" class="form-control" aria-describedby="longtitude" i18n i18n-placeholder="Longtitude placeholder" placeholder="Enter longtitude"
      formControlName="longtitude">
    <div style="color: red;" *ngIf="formLongtitude.invalid && (formLongtitude.touched || formLongtitude.dirty)">
      <small i18n="Longtitude empty" *ngIf="formLongtitude.errors?.required">This field is required</small>
    </div>
  </div>
  <button type="button" class="btn btn-primary" [disabled]="formPosition.invalid" (click)="submitData()" i18n="@@submitBtn">Add</button>
  <button type="button" class="btn btn-danger" (click)="closeForm()" i18n="@@cancelBtn">Cancel</button>
</form>