<div class="login-section">
  <section class="forms-section">
    <div>
      <img src="../../../assets/images/logo.png" width="200px" style="border-radius: 40%; margin-top: 20px;" />
    </div>
    <div class="forms">
      <div class="form-wrapper is-active">
        <button type="button" class="switcher switcher-login" i18n="login|label on login form@@loginlabel">
          Login
          <span class="underline"></span>
        </button>
        <form class="form form-login" [formGroup]="loginForm">
          <fieldset>
            <legend>Please, enter your email and password for login.</legend>
            <div class="input-block" style="position: relative;">
              <label for="login-email" i18n="mail|mail on login form@@mail">E-mail</label>
              <input id="login-email" type="email" required formControlName="mail">
              <div *ngIf="loginMail.invalid  && loginMail.touched">
                <div *ngIf="loginMail.errors?.required" i18n="mail|mail exception@@mailEmpty">
                  Mail can't be empty
                </div>
              </div>
            </div>
            <div class="input-block">
              <label for="login-password" i18n="pass|pass on login form">Password</label>
              <div style="position: relative; width: 100%; height: 44px;">
                <input id="login-password" [attr.type]="showPassword ? 'text': 'password'" required style="position: absolute; padding-right: 30px;"
                  formControlName="password">
                <i class="fa" [ngClass]="this.showPassword? 'fa-eye':'fa-eye-slash'"
                  style="position: absolute; right: 10px; top: 22px; cursor: pointer;"
                  (click)="showHidePasswordBtnClick()"></i>
              </div>
              <div *ngIf="loginPass.invalid  && loginPass.touched">
                <div *ngIf="loginPass.errors?.required" style="position: relative; margin-top: 5px;" i18n="pass|pass exception">
                  Pass can't be empty
                </div>
              </div>
            </div>
          </fieldset>
          <button type="button" class="btn-login" (click)="sendLoginData()" [disabled]="loginForm.invalid" [class.disabled-btn] = "loginForm.invalid" i18n="login|login btn on login form">Login</button>
        </form>
      </div>
      <div class="form-wrapper">
        <button type="button" class="switcher switcher-signup" i18n="signup|signup label on login form">
          Sign Up
          <span class="underline"></span>
        </button>
        <form class="form form-signup" [formGroup]="registerForm">
          <fieldset>
            <legend>Please, enter your email, password and password confirmation for sign up.</legend>
            <div class="input-block">
              <label for="signup-name" i18n="name|name input field on login form@@name">Name</label>
              <input id="signup-name" type="text" required formControlName="name">
              <div *ngIf="registrationName.invalid  && registrationName.touched">
                <div *ngIf="registrationName.errors?.required" i18n="name|name exception@@emptyName">
                  Name can't be empty
                </div>
              </div>
            </div>
            <div class="input-block">
              <label for="signup-surname" i18n="surname|surname label@@surname">Surname</label>
              <input id="signup-surname" type="text" required formControlName="surname">
              <div *ngIf="registrationSurname.invalid  && registrationSurname.touched">
                <div *ngIf="registrationSurname.errors?.required" i18n="surname|surname exception@@emptySurname">
                  Surname can't be empty
                </div>
              </div>
            </div>
            <div class="input-block">
              <label for="signup-patronymic" i18n="patronymic|patronymic label@@patron">Patronymic</label>
              <input id="signup-patronymic" type="text" required formControlName="patronymic">
              <div *ngIf="registrationPatronymic.invalid  && registrationPatronymic.touched">
                <div *ngIf="registrationPatronymic.errors?.required" i18n="patronymic|patronymic exception@@patronEmpty">
                  Patronymic can't be empty
                </div>
              </div>
            </div>
            <div class="input-block">
              <label for="signup-email" i18n="mail|mail on registration form@@mail">E-mail</label>
              <div style="position: relative;  width: 100%; height: 44px;">
                <input id="signup-email" type="email" required formControlName="mail"
                  style="position: absolute; padding-right: 30px;">
                <div style="position: absolute; top: 20px; right: 10px;">
                  <i *ngIf="registrationMail.valid" class="fa fa-check-circle" style="color: green;"></i>
                  <i *ngIf="registrationMail.invalid && registrationMail.dirty" class="fa fa-times"
                    style="color: red;"></i>
                </div>
              </div>
              <div *ngIf="registrationMail.invalid  && registrationMail.touched"
                style="position: relative; margin-top: 5px;">
                <div *ngIf="registrationMail.errors?.isEmailUnique == false" i18n="mail|reg mail should be uniq@@mailUniq">
                  Mail should be unique
                </div>
                <div *ngIf="registrationMail.errors?.required" i18n="mail|reg mail should not be empty@@mailEmpty">
                  Mail can't be empty
                </div>
                <div *ngIf="registrationMail.errors?.email" i18n="mail|reg mail has incorrect format@@mailIncorrect">
                  Mail has incorrect format
                </div>
              </div>
            </div>
            <div class="input-block">
              <label for="signup-telephone" i18n="phone|phone-label@@phone">Telephone number</label>
              <input id="signup-telephone" type="tel" required formControlName="telNumber" i18n i18n-placeholder="@@phonePlaceholder" placeholder="Enter 10 digits or more">
              <div *ngIf="registrationTelNumber.invalid  && registrationTelNumber.touched">
                <div *ngIf="registrationTelNumber.errors?.required" i18n="phone|phone empty exception@@phoneEmty">
                  Telephone can't be empty
                </div>
                <div *ngIf="registrationTelNumber.errors?.pattern" i18n="phone|phone pattern wrong@@phoneIncorrect">
                  Telephone is incorrect
                </div>
              </div>
            </div>
            <div class="input-block">
              <label for="signup-dob" i18n="dob|dob label@@dob">Date of birth</label>
              <input id="signup-dob" type="date" required formControlName="dob">
              <div *ngIf="registrationDob.invalid  && registrationDob.touched">
                <div *ngIf="registrationDob.errors?.required" i18n="dob|dob empty field@@dobEmpty">
                  Date of birth should be specified
                </div>
              </div>
            </div>
            <div class="input-block">
              <label for="signup-password" i18n="reg pass|password input@@password">Password</label>
              <div style="position: relative; width: 100%; height: 44px;">
                <input id="signup-password" [attr.type]="showPassword ? 'text': 'password'" required
                  style="position: absolute; padding-right: 30px;" formControlName="password">
                <i class="fa" [ngClass]="this.showPassword? 'fa-eye':'fa-eye-slash'"
                  style="position: absolute; right: 10px; top: 22px; cursor: pointer;"
                  (click)="showHidePasswordBtnClick()"></i>
              </div>
              <div *ngIf="registrationPassword.invalid  && registrationPassword.touched"
                style="position: relative; margin-top: 5px;">
                <div *ngIf="registrationPassword.errors?.required" i18n="reg pass|password emty error@@passwordEmpty">
                  Password can't be empty
                </div>
                <div *ngIf="registrationPassword.errors?.pattern" i18n="reg pass|password wrong format@@passwordWrongFormat">
                  Password must be 8 chars at least, small, big letters, nums and special symbols
                </div>
              </div>
            </div>
            <div class="input-block">
              <label for="signup-password-confirm" i18n="confirm password@@passwordConfirm">Confirm password</label>
              <div style="position: relative; width: 100%; height: 44px;">
                <input id="signup-password-confirm" [attr.type]="showPassword ? 'text': 'password'" required
                  style="position: absolute; padding-right: 30px;" formControlName="confirmPassword">
                <i class="fa" [ngClass]="this.showPassword? 'fa-eye':'fa-eye-slash'"
                  style="position: absolute; right: 10px; top: 22px; cursor: pointer;"
                  (click)="showHidePasswordBtnClick()"></i>
              </div>
              <div *ngIf="registrationConfirmPassword.invalid  && registrationConfirmPassword.touched"
                style="position: relative; margin-top: 5px;">
                <div *ngIf="registrationConfirmPassword.errors?.required" i18n="confirm password|confirm password emty@@passwordConfirmEmpty">
                  You should confirm password
                </div>
              </div>
              <div
                *ngIf="registerForm.errors?.passwordConfirmation && (registrationConfirmPassword.touched || registrationConfirmPassword.dirty)"
                style="position: relative; margin-top: 5px;" i18n="confirm password|non-coincidence@@passwordConfirmNonCoincidence">
                Password are not the same
              </div>
            </div>
          </fieldset>
          <button class="btn-signup" type="button" (click)="sendRegisterData()" [disabled]="registerForm.invalid" [class.disabled-btn] = "registerForm.invalid"
            i18n="register btn"
          >Continue</button>
        </form>
      </div>
    </div>
  </section>
</div>