<div style="position: absolute; 
            top: 50px; 
            left: 50px;
            width: 50px;
            height: 50px;
            background-color: #ccc;
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
            font-size: large;
            cursor: pointer;" (click)="backBtnClick()">
  Back
</div>
<div style="height: 700px; overflow-y: scroll;">
  <div style="display: flex; justify-content: center;">
    <div style="font-size: large; width: 800px; text-align: justify;">
      <section style="margin-top: 10px; display: flex;">
        <div style="width: 100px;">
          Name:
        </div>
        <div style="width: 700px;">
          {{compartmentInfo?.name}}
        </div>
      </section>
      <section style="margin-top: 10px; display: flex;">
        <div style="width: 100px;">
          Describtion:
        </div>
        <div style="width: 700px;">
          {{compartmentInfo?.description}}
        </div>
      </section>
      <section style="margin-top: 10px; display: flex;">
        <div style="width: 100px;">
          Safety Rules:
        </div>
        <div style="width: 700px;">
          {{compartmentInfo?.safetyRules}}
        </div>
      </section>
      <section style="margin-top: 10px; display: flex;" *ngIf="isCompartmentFloor()">
        <div style="width: 100px;">
          Level:
        </div>
        <div style="width: 700px;">
          {{compartmentInfo?.level}}
        </div>
      </section>
      <button *ngIf="canChangeCompartment()" (click)="updateCOmpartmentInfo()" class="btn btn-warning"
        style="display: block; margin-top: 10px; font-size: large; float: right;">
        Chnage Info
      </button>
      <button class="btn btn-primary"
        style="display: block; margin-top: 10px; margin-right: 10px; font-size: large; float: right;"
        (click)="centerMap()">
        Center map
      </button>
      <button class="btn btn-primary"
        style="display: block; margin-top: 10px; margin-right: 10px; font-size: large; float: right;"
        (click)="getCompartmentQrCode()">
        Generate QR-code
      </button>
    </div>
  </div>
  <div id="myMap" [style.display]="evacPlanInfo == null ? 'none':'block'"></div>
  <div *ngIf="evacPlanInfo == null">
    <div style="width: 100%; display: flex; justify-content: center; height: 200px; align-items: center;">
      <div>
        <button class="btn btn-success" (click)="file.click()">Load map
          <span *ngIf="uploadingValue > 0">{{uploadingValue}}</span>
        </button>
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
      </div>
    </div>
  </div>
  <div style="display: flex; justify-content: center; margin-top: 20px;">
    <div class="accordion" id="accordionExample" style="width: 800px;" #floor_exp_list>
      <div class="card f">
        <div class="card-header" id="headingOne" (click)="displayScalePoints()">
          <h5 class="mb-0">
            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              Scale points
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div *ngIf="evacPlanInfo != null; else no_map_template_scale">
              <div *ngIf="scalePointMarkers.size == 0; else scale_points">No points</div>
              <ng-template #scale_points>
                <div *ngFor="let item of scalePointMarkers | keyvalue" style="display: flex; justify-content: center;">
                  <div>{{item.key}}</div>
                  <div><button class="btn btn-info" (click)="selectScalePoint(item.key)">Select</button></div>
                  <div><button class="btn btn-danger" (click)="removeScalePointMarker(item.key)">Delete</button></div>
                </div>
              </ng-template>
              <button class="btn btn-primary" (click)="addScalePoint()"
                [disabled]="this.selectedMapPosition == null">Add scale point</button>
            </div>
            <ng-template #no_map_template_scale>
              <div style="width: 100%; display: flex; justify-content: center; height: 50px; align-items: center;">
                <button class="btn btn-success" (click)="file.click()">Load map
                  <span *ngIf="uploadingValue > 0">{{uploadingValue}}</span>
                </button>
                <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)"
                  style="display:none;">
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="card f">
        <div class="card-header" id="headingOne" (click)="displayRoutePoints();">
          <h5 class="mb-0">
            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              Route points
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div *ngIf="evacPlanInfo != null; else no_map_template_scale">
              <div *ngIf="routePoints.length == 0; else route_points">No route points</div>
              <ng-template #route_points>
                <div *ngFor="let item of routePoints" style="display: flex; justify-content: center;">
                  <div>{{item.id}}</div>
                  <div><button class="btn btn-info" (click)="selectRoutePoint(item.id)">Select</button></div>
                  <div><button class="btn btn-danger" (click)="removeRoutePoint(item.id)">Delete</button></div>
                </div>
              </ng-template>
              <button class="btn btn-primary" (click)="addRoutePoint()" [disabled]="this.selectedMapPosition == null">
                Add route point</button>
            </div>
            <ng-template #no_map_template_scale>
              <div style="width: 100%; display: flex; justify-content: center; height: 50px; align-items: center;">
                <button class="btn btn-success" (click)="file.click()">Load map
                  <span *ngIf="uploadingValue > 0">{{uploadingValue}}</span>
                </button>
                <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)"
                  style="display:none;">
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="card f">
        <div class="card-header" id="headingOne" (click)="displayIots();">
          <h5 class="mb-0">
            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              Iots
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div *ngIf="evacPlanInfo != null; else no_map_template_scale">
              <div *ngIf="compartmentInfo?.ioTs.length == 0; else route_points">No iots</div>
              <ng-template #route_points>
                <div *ngFor="let iot of compartmentInfo?.ioTs" style="display: flex; justify-content: center;">
                  <div>{{iot.iotIdentifier}}</div>
                  <div><button class="btn btn-info" (click)="printQrCode(iot.iotIdentifier)">Print qr iot info</button></div>
                  <div><button class="btn btn-danger" (click)="removeIotFromCompartment(iot.iotIdentifier)">Delete</button></div>
                </div>
              </ng-template>
              <button class="btn btn-primary" (click)="addIotToCompartment()" [disabled]="this.selectedMapPosition == null">
                Add iot</button>
            </div>
            <ng-template #no_map_template_scale>
              <div style="width: 100%; display: flex; justify-content: center; height: 50px; align-items: center;">
                <button class="btn btn-success" (click)="file.click()">Load map
                  <span *ngIf="uploadingValue > 0">{{uploadingValue}}</span>
                </button>
                <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)"
                  style="display:none;">
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="card f">
        <div *ngIf="isCompartmentFloor()">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                Rooms
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <div *ngFor="let room of FloorRooms"
                style="display: flex; justify-content: center; height: 40px; margin-top: 10px;">
                <div style="line-height: 40px;">{{room.name}} </div>
                <button class="btn btn-danger" style="margin-left: 50px;"
                  (click)="deleteRoomInfo(room.id)">Delete</button>
                <button class="btn btn-info" style="margin-left: 50px;" (click)="viewRoomInfo(room.id)">View</button>
                <button class="btn btn-warning" style="margin-left: 50px;"
                  (click)="changeRoomInfo(room.id)">Change</button>
              </div>
              <button class="btn btn-primary" (click)="addRoomInfo()">Add new room</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 800px; margin: 10px auto; text-align: end;">
    <button class="btn btn-info" *ngIf="testInfo==null; else test_exists" (click)="addTest()">Add test</button>
    <ng-template #test_exists>
      <button class="btn btn-info" (click)="updateTest()">View test</button>
      <button class="btn btn-danger" style="margin-left: 20px;" (click)="deleteTest()">Delete test</button>
    </ng-template>
  </div>